.footer-container{
    background-color: black;
    padding: 1rem;
    width: 100%;
}

.footer-logo{
    display: flex;
  
    float:left;
}

.footer-logo-img{
    display: flex;
    width: 120px;
    height: 100px;
    margin-right: 5rem;
}